/* body{
    background: rgb(255,255,255);
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(187,187,232,1) 58%, rgba(174,241,255,1) 100%);
    height: 100vh;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
} */

h1{
    color: black;
    
}

.topnav {
    top: 10px;
    width: 90%;
    position: absolute;
    background-color: rgb(209, 211, 215);
    overflow: hidden;
    border-radius: 50px;
}

.topnav a {
    transition: all 0.5s;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: rgb(123, 111, 111);
    color: white;
}

.topnav a.active {
    background-color: #6D152B;
    color: white;
}

@font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
      format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
  }
  
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #302a27;
    width: 98vw;
    height: 100vh;
  }
  
  main {
    transition: all 0.5s;
    -webkit-text-stroke: 4px #d6f4f4;
    font-variation-settings: "wght" 900, "ital" 1;
    font-size: 15rem;
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: 10px 10px 0px #DFAF5E,
      15px 15px 0px #C2A887,
      20px 20px 0px #61714D,
      25px 25px 0px #8FAE93,
      45px 45px 10px #6D152B;
    position: fixed;
    top: 10%;
  }
  
  main:hover {
    font-variation-settings: "wght" 100, "ital" 0;
    text-shadow: none;
  }

  .swing{
    transition: all 0.5s;
    width: 75%;
    height: 1200px;
    background-color: aliceblue;
    color: black;
    top: 450px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
  }

  .swing:hover{
    filter: drop-shadow(15px 10px 0px #6b4f4f);
    top:440px;
  }

  .block{
    transition: all 0.5s;
    width: 300px;
    height: 350px;
    background-color: #C2A887;
    color: white;
    top: 20px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    margin: 20px;
  }

  .block:hover{
    filter: drop-shadow(0px 15px 0px #6b4f4f);
    top:15px;
  }

  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6D152B;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #DFAF5E;
}

.productHeader{
  color: white;
  filter: drop-shadow(3px 3px 0px #6b4f4f);
}